# Python-generated
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Venvs
.venv

# Test files
Test-cv.pdf
package/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
*.bak
*.backup

# Miscellaneous
.DS_Store  # macOS-specific

